# Copia este archivo como .env y completa tus valores reales.
# .env NUNCA se sube a GitHub (está en .gitignore).

SECRET_KEY=58ee67fd4997d144f05f8abd26f1b986f9387c989949dfb12fb7010c23d48293
# En local puedes dejar esto vacío para usar SQLite.
# En Azure, apunta a tu PostgreSQL Flexible Server:
# DATABASE_URL=postgresql://USUARIO:PASSWORD@SERVIDOR.postgres.database.azure.com:5432/NOMBRE_DB?sslmode=require
DATABASE_URL=
